* {
  font-family: "Lato", sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body > section {
  background-color: #3b3f4c;
  text-align: center;
  -webkit-box-shadow: 0px 10px 110px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 110px rgba(0, 0, 0, 0.2);
  padding: 100px 0px;
}

.header-text {
  width: 100%;
  font-size: 34px;
  text-transform: capitalize;
  margin-top: 50px;
  color: #2896ca;
  margin-bottom: 40px;
}

.header-text::after {
  content: "";
  background-color: #2896ca;
  display: block;
  height: 2px;
  width: 30px;
  margin: 5px auto 0;
  opacity: 0.5;
}

.padding {
  padding-left: 0px;
  padding-right: 0px;
}

.navigation-bar {
  float: right;
  list-style: none;
  top: 30%;
  position: fixed;
  z-index: 8000;
  right: 15px;
}

.navigation-bar li {
  position: relative;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.navigation-bar li i {
  height: 30px;
  width: 30px;
  font-size: 18px;
  border: 1px solid #333;
  background-color: #494d5a;
  color: #9199af;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navigation-bar li i:hover {
  color: #2896ca;
}

.navigation-bar li:not(:last-of-type) i::after {
  position: absolute;
  bottom: -15px;
  content: "";
  display: block;
  height: 15px;
  width: 3px;
  background-color: #494d5a;
}

.Portfolio {
  padding: 50px 0px;
}

.Portfolio p {
  padding: 0 20px;
  margin: 20px 0 15px;
  color: #9199af;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.Portfolio .portfolio-content .project-img-box {
  position: relative;
  margin: 2px;
}

.Portfolio .portfolio-content .project-img-box img {
  display: block;
  height: 200px;
  max-width: 100%;
  width: 100%;
}

.Portfolio .portfolio-content .project-img-box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-transform: capitalize;
  display: none;
}

.Portfolio .portfolio-content .project-img-box .overlay .work-details {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.Portfolio .portfolio-content .project-img-box .overlay .work-details .animated {
  width: 100%;
}

.Portfolio .portfolio-content .project-img-box .overlay .work-details .animated h4 {
  margin: 10px 0;
  font-size: 17px;
  -webkit-margin-before: 1.33em;
          margin-block-start: 1.33em;
  -webkit-margin-after: 1.33em;
          margin-block-end: 1.33em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.Portfolio .portfolio-content .project-img-box .overlay .work-details .animated h6 {
  color: #ccc;
  margin: 0 0 20px;
  font-size: 0.67em;
  -webkit-margin-before: 2.33em;
          margin-block-start: 2.33em;
  -webkit-margin-after: 2.33em;
          margin-block-end: 2.33em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

.Portfolio .portfolio-content .project-img-box .overlay .work-details .animated {
  width: 100%;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.Portfolio .portfolio-content .project-img-box .overlay .work-details .animated a {
  text-decoration: none;
}

.Portfolio .portfolio-content .project-img-box .overlay .work-details .animated i {
  height: 35px;
  width: 35px;
  color: #fff;
  margin: 2px;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #2896ca;
}

.Portfolio .portfolio-content .project-img-box .overlay .work-details .animated i:hover {
  background-color: #494d5a;
}

.Portfolio .portfolio-content .project-img-box .overlay span {
  display: block;
  position: absolute;
  height: 1px;
  width: 0;
  background-color: #fff;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.Portfolio .portfolio-content .project-img-box .overlay span:nth-of-type(even) {
  width: 1px;
  height: 0;
}

.Portfolio .portfolio-content .project-img-box .overlay span:first-of-type {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.Portfolio .portfolio-content .project-img-box .overlay span:nth-of-type(2) {
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Portfolio .portfolio-content .project-img-box .overlay span:nth-of-type(3) {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.Portfolio .portfolio-content .project-img-box .overlay span:last-of-type {
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Portfolio .portfolio-content .project-img-box .overlay span:nth-of-type(odd) {
  width: 100%;
}

.Portfolio .portfolio-content .project-img-box .overlay span:nth-of-type(even) {
  height: 100%;
}

.Portfolio .portfolio-content .project-img-box:hover .overlay {
  display: block;
}
/*# sourceMappingURL=style.css.map */